@tailwind base;
@tailwind components;
@tailwind components;

@layer base {
  :root {
    --text: #052924;
    --background: #defcf8;
    --primary: #0e816c;
    --secondary: #6ba2ef;
    --accent: #172dd9;
  }
  .dark {
    --text: #d6faf5;
    --background: #03211d;
    --primary: #7ef1dc;
    --secondary: #104793;
    --accent: #263de8;
  }
}

body {
  font-family: 'Noto Sans Coptic', sans-serif;
}